
.image-module {
  width: 40px;
  height: 40px;
  background-image: url("../../assets/images/delivery-man.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.image-module1 {
  width: 40px;
  height: 40px;
  background-image: url("../../assets/images/delivery-bike.png");
  background-repeat: no-repeat;
  background-size: contain;
}
