<section class="motorcyclists-container">
  <app-dashboard >
    <div class="content">
      <div class="d-flex justify-content-between">
        <div>
          <div class="d-flex align-items-center">
            <div class="image-module"></div>
            <h1 class="m-0 p-0 ml-2 mt-2">Pedidos</h1>
          </div>
        </div>
        <button mat-flat-button color="accent" (click)="onRegister()">
          Registrar
        </button>
      </div>
      <div class="row mt-4">
        <div class="col-12">

        </div>
      </div>
    </div>
  </app-dashboard>
</section>
