.image-module {
  width: 40px;
  height: 40px;
  background-image: url("../../../../assets/images/tracking.png");
  background-repeat: no-repeat;
  background-size: contain;
}

table {
  width: 100%;
}
