<section class="motorcyclists-container">
  <app-dashboard >
    <div class="content">
      <div class="d-flex justify-content-between">
        <div>
          <div class="d-flex align-items-center">
            <div class="image-module"></div>
            <h1 class="m-0 p-0 ml-2 mt-2">Pedidos</h1>
          </div>
        </div>
        <button mat-flat-button color="accent" (click)="onRegister()" *ngIf="isClient">
          Registrar
        </button>
      </div>
      <div class="row mt-4 mb-4" *ngIf="shippingDocuments$|async as shippingDocuments">
        <div class="col-12">
          <table mat-table [dataSource]="shippingDocuments" class="">

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Fecha </th>
              <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
            </ng-container>

            <ng-container matColumnDef="payment">
              <th mat-header-cell *matHeaderCellDef> Total </th>
              <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.motorcycleId === null"> Sin Asignar</span>
                <span *ngIf="element.motorcycleId">Pendiente</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="accent" (click)="toAssign()" *ngIf="isEmployee">
                  Asignar
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
  </app-dashboard>
</section>
