.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: var(--primary-color);
}

// .sidenav .mat-toolbar {
//   background: inherit;
// }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  background-color: #fff !important;
  box-shadow: -4px 4px 10px rgb(0 0 0 / 4%);
}

.logo {
  min-width: 115px;
  width: 115px;
  height: 45px;
  background-image: url("../../assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.item-menu {
  display: flex;
  align-items: center;
  span {
    color: #fff;
    font-weight: 300;
  }
}

.image-delivery {
  min-width: 25px;
  width: 25px;
  height: 25px;
  background-image: url("../../assets/images/box.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.image-client {
  min-width: 25px;
  width: 25px;
  height: 25px;
  background-image: url("../../assets/images/group.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.image-motorcyclist {
  min-width: 25px;
  width: 25px;
  height: 25px;
  background-image: url("../../assets/images/fast-delivery.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.mat-drawer-side {
  border-right: none !important;
}

.example-spacer {
  flex: 1 1 auto;
}


.image-logout {
  min-width: 25px;
  width: 25px;
  height: 25px;
  margin: auto;
  background-image: url("../../assets/images/logout.png");
  background-repeat: no-repeat;
  background-size: contain;
}
